---
//imports
import Button from "@/components/ui/Button.astro"
import { Image } from "astro:assets"

//props
const { title, description, thumbnail } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta property="thumbnail" content={thumbnail.src} />
		<title>{title}</title>
	</head>
	<body class="bg-light">
		<main>
			<article class="t-article-v3 pb-8 lg:pb-12">
				<div class="t-article-v3__hero mb-8 lg:mb-12 bg-gradient-3" data-bg-animate="on">
					<div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl">
						<div class="t-article-v3__intro-text text-center">
							<h1 class="text-5xl mb-3 text-inherit font-heading">{title}</h1>
						</div>
					</div>
				</div>

				<div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl mb-12 lg:mb-20">
					<div class="prose max-w-3xl mx-auto prose-figcaption:text-center prose-a:text-indigo-700 prose-img:mx-auto">
						<slot />
						<div class="pt-8 flex flex-row justify-center align-center">
							<Button label="Back Home" href="/" type="button" variant="primary" />
						</div>
					</div>
				</div>
			</article>
		</main>
	</body>
</html>

<!---Style -->
<style>
	.t-article-v3__hero {
		padding: 5.25rem 0;
	}
	@media (min-width: 64rem) {
		.t-article-v3__hero {
			padding: 8.25rem 0;
		}
	}

	.t-article-v3__intro-text {
		padding: 1.25rem;
		@apply text-white;
		backdrop-filter: blur(10px);
		@apply rounded-lg;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@media (min-width: 64rem) {
		.t-article-v3__intro-text {
			padding: 2rem;
		}
	}
	.t-article-v3__intro-text p {
		opacity: 0.75;
	}

	.t-article-v3__divider {
		display: flex;
		align-items: center;
	}
	.t-article-v3__divider span {
		display: block;
		margin: 0 0.5rem;
		height: 10px;
		width: 10px;
		transform: rotate(45deg);
		@apply bg-gray-400;
	}
	@media (min-width: 64rem) {
		.t-article-v3__divider span {
			margin: 0 0.75rem;
		}
	}
	.t-article-v3__divider::before,
	.t-article-v3__divider::after {
		content: "";
		display: block;
		height: 1px;
		width: auto;
		flex-grow: 1;
		@apply bg-gray-300;
	}
	.bg-gradient-1,
	.bg-gradient-2,
	.bg-gradient-3,
	.bg-gradient-4,
	.bg-gradient-5 {
		background-repeat: no-repeat;
		background-position: center;
	}
	@media (prefers-reduced-motion: no-preference) {
		.bg-gradient-1[data-bg-animate="on"],
		.bg-gradient-2[data-bg-animate="on"],
		.bg-gradient-3[data-bg-animate="on"],
		.bg-gradient-4[data-bg-animate="on"],
		.bg-gradient-5[data-bg-animate="on"] {
			will-change: background-position;
		}
	}
	.bg-gradient-3 {
		background-color: #3e5d36;
		background-image: radial-gradient(ellipse at 25% 90%, #dca464 10%, rgba(92, 148, 110, 0) 70%),
			radial-gradient(ellipse at 55% 90%, #c2bcb7 0%, rgba(255, 252, 242, 0) 70%),
			radial-gradient(ellipse at 100% 100%, #866b96 5%, rgba(235, 94, 40, 0) 60%),
			radial-gradient(ellipse at 0% 0%, #9f422f 15%, rgba(92, 148, 110, 0) 50%),
			radial-gradient(ellipse at 100% 0%, #5d4a68 30%, rgba(255, 252, 242, 0) 70%);
		background-size: 100% 140%;
	}
	@media (prefers-reduced-motion: no-preference) {
		.bg-gradient-3[data-bg-animate="on"] {
			background-size: 200% 280%;
			background-position: 50% 0%;
			animation: bg-gradient-anim-3 30s linear infinite;
		}
	}

	@keyframes bg-gradient-anim-3 {
		0%,
		100% {
			background-position: 0% 0%;
		}
		33% {
			background-position: 100% 0%;
		}
		66% {
			background-position: 100% 100%;
		}
	}
</style>
