---
//Props
const { label, href, type = "button", variant = "primary", onClick } = Astro.props

//Variants
function variantClasses(variant) {
	switch (variant) {
		case "primary":
			return "bg-primary text-white px-4 py-2 border border-dark relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 hover:bg-secondary focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-300"
		case "secondary":
			return "bg-secondary text-white px-4 py-2 border border-dark relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200 "
		case "outline":
			return "border border-primary text-primary px-4 py-2 border border-dark relative inline-flex justify-center items-center whitespace-nowrap cursor-pointer no-underline leading-tight transition-all duration-200"
		default:
			return ""
	}
}
---

{
	href ? (
		<a href={href} class={`btn ${variantClasses(variant)}`}>
			{label}
		</a>
	) : (
		<button type={type} class={`btn ${variantClasses(variant)}`} onclick={onClick}>
			{label}
		</button>
	)
}
